body {
    text-align: center;
}

#container {
    display: grid;
    margin: auto;
    width: 90%;
    border: 5px solid black;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    grid-gap: 0px 0px;

}

#reset{
    margin-bottom: 10px;
}

.block {
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: yellow;
    transition-duration: 0.3s;
    width: 50px;
    height: 50px;
}

.blocks{
    background-color: red;
  }